/*
 * TailwindCSS
 */

@tailwind base;
@tailwind components;
@tailwind utilities;


/*
 * Custom sizes
 */

.h-128 {
  height: 32rem;
}


/*
 * Base
 */

svg {
  @apply inline-block;
}

blockquote {
  @apply italic;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

ul.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
}

ul.comma-list li {
  display: inline;
}

ul.comma-list li::after {
  content: ", ";
}

ul.comma-list li:last-child::after {
  content: "";
}

/**
 * Animations
 */

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1000ms;
}


/**
 * Components
 */

.app-header {
  @apply h-20 fixed w-full flex items-center z-40;
  @apply backdrop-blur;
}

.app-header+main {
  @apply pt-20;
}

.dialog-panel {
  @apply w-full max-w-sm max-h-full rounded-lg p-6 overflow-y-auto;
  @apply flex flex-col gap-4 shadow-lg;
}

.progress-bar {
  @apply rounded-lg shadow-sm;
}

.progress-bar .fill-bar {
  @apply rounded-lg shadow-sm;
}

.dropdown {
  @apply relative inline-block;
}

.dropdown .dropdown-menu {
  @apply absolute right-0 mt-1 origin-top-right rounded-lg shadow-lg;
}

.dropdown .dropdown-item {
  @apply flex items-center gap-2 w-full rounded-lg justify-between px-4 h-10 bg-transparent;
}

.error {
  @apply px-4 py-3 rounded-lg;
}

.badge {
  @apply text-sm font-semibold rounded-full px-3 py-1 shadow-sm;
}

.search-results-table {
  @apply border-collapse bg-transparent shadow-none;
}

.search-results-table thead th,
.search-results-table tbody td {
  @apply p-0 rounded-none bg-transparent;
}

.search-results-table tbody td[data-title] {
  @apply text-left font-semibold px-4;
}

.search-results-table tbody td[data-time] {
  @apply font-semibold;
}

.search-results-table tbody td[data-status],
.search-results-table tbody td[data-gameplay],
.search-results-table tbody td[data-time],
.search-results-table tbody td[data-date] {
  @apply px-4;
}

.search-results-table tbody tr:hover td {
  @apply bg-transparent;
}

.search-results-table tbody tr.is-playing td[data-title],
.game-item.is-playing .title {
  @apply font-extrabold;
}

.background-image {
  @apply fixed w-screen left-0;
  height: auto;
  min-height: 50%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  mask-image: linear-gradient(
    transparent 0%,
    rgba(255,255,255,0.3) 10%,
    rgba(255,255,255,0.4) 25%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0.4) 75%,
    rgba(255,255,255,0.3) 90%,
    transparent 100%
  );
}

.background-image .filter {
  @apply w-full h-full;
  backdrop-filter: saturate(50%) blur(3px);
}

.medal {
  @apply block rounded-full relative;
  @apply bg-gradient-to-b;
}
.medal .inner {
  @apply absolute top-1 left-1 right-1 bottom-1 grid place-content-center;
  @apply rounded-full bg-gradient-to-t;

}

.medal,
.medal .inner {
  @apply from-stone-200 to-stone-400 text-stone-500;
}

.medal-1,
.medal-1 .inner {
  @apply from-yellow-400 via-yellow-200 to-yellow-600 text-yellow-800;
}

.medal-2,
.medal-2 .inner {
  @apply from-gray-300 via-gray-100 to-gray-400 text-gray-500;
}

.medal-3,
.medal-3 .inner {
  @apply from-amber-600 via-amber-400 to-amber-700 text-amber-800;
}

.table {
  @apply shadow-none bg-default-100 border-separate border-spacing-1 rounded-lg;
}
.table thead th {
  @apply bg-default-200 text-foreground-500 h-10 px-3 text-sm rounded-md;
}
.table tbody td {
  @apply h-10 px-3 rounded-md;
}
.table tbody tr:hover {
  @apply bg-primary-100;
}

.background {
  min-height: 24rem;
}

@keyframes slide {
	0%, 10% {transform:translateX(-100%);}
	90%, 100% {transform:translateX(100%);}
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

[role="progressbar"][aria-valuetext="100%"] {
  @apply rounded-full;
  box-shadow: 0 0 10px #c99846;
  content: '';
}
[role="progressbar"][aria-valuetext="100%"] > * > .bg-success {
  @apply relative;
  @apply bg-gradient-to-r from-[#554023] to-[#c99846];
}
[role="progressbar"][aria-valuetext="100%"] > * > .bg-success::after {
  @apply absolute top-0 left-0 right-0 bottom-0;
  background: linear-gradient(
    -45deg,
    transparent 0%,
    transparent 15%,
    white 50%,
    transparent 85%,
    transparent 100%
  );
  opacity: .3;
  content: '';
  animation: slide 5s infinite;
}